
/**********************************************************
 * Variable Definitions
 **********************************************************/

// Links
$colorLink: #528fcc;
$colorLinkHover: #80b5ea;
$colorLinkVisited: #38597a;

// Disabled
$colorDisabled: #c8c8c8;

// Error
$colorError: #D0021B;

$colorVoteUp: #5eaa60;
$colorVoteDown: #c93034;

// Layout Colors
$defaultColor: #151515;

// Header
$colorHeaderLineBackGround: #151515;
$colorHeaderLineBackGroundHover: #2f2f2f;
$colorHeaderLineText: #f5f5f5;
$colorHeaderLineTextHover: #ffffff;

// Contentbox Header
$colorContentBoxHeaderBackground: #c8c8c8;
$colorContentBoxHeaderBackgroundHover: #bababa;
$colorContentBoxHeaderActive: #888888;
$colorContentBoxHeaderHover: #a1a1a1;
$colorContentBoxHeaderText: #2f2f2f;
$colorContentBoxHeaderTextActive: #ffffff;
$colorContentBoxHeaderTextHover: #525252;

// ContentBox
$colorContentBoxBackground: #f5f5f5;
$colorContentBoxBorder: #e1e1e1;

// Link entry
$colorLinkItemBorder: #e1e1e1;
$colorLinkItemBackgroundOdd: #ededed;
$colorLinkItemBackgroundEven: #fafafa;

// Standard button
$colorButtonBackground: #ededed;
$colorButtonHover: #dfdfdf;
$colorButtonColor: #777777;
$colorButtonBorder: #dcdcdc;
$colorButtonShadow: #ffffff;

// Button disabled
$colorButtonBackgroundDisabled: #ededed;
$colorButtonColorDisabled: #b0b0b0;
$colorButtonBorderDisabled: #dcdcdc;
$colorButtonShadowDisabled: #dcdcdc;

// Button highlighted
$colorButtonBackgroundHighlight: #78ff9c;
$colorButtonHoverHighlight:  #25fa5e;
$colorButtonColorHighlight: #000000;
$colorButtonBorderHighlight: #51ed7a;
$colorButtonShadowHighlight: #c0fad1;

// Max width
$maxWith: 75em;

/**********************************************************
 * Mixin definitions
 **********************************************************/
@mixin resetBlock {
  clear: left;
  content: "";
  display: block;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($colorShadow) {
  -moz-box-shadow:inset 0 1px 0 0 $colorShadow;
  -webkit-box-shadow:inset 0 1px 0 0 $colorShadow;
  -ms-box-shadow:inset 0 1px 0 0 $colorShadow;
  box-shadow:inset 0 1 0 0 $colorShadow;
}

/**********************************************************
 * Placeholder definitions
 **********************************************************/
%mainLayout {
  max-width: $maxWith;
  margin:auto;
  &:after {
    @include resetBlock;
  }
}

/**********************************************************
 * Icon font
 **********************************************************/
@font-face {
  font-family: "icons";
  src: url("../fonts/ionicons.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ionicons.woff") format("woff"),
  url("../fonts/ionicons.ttf") format("truetype"),
  url("../fonts/ionicons.svg#svgFontName") format("svg");
}

/**********************************************************
 * General settings
 **********************************************************/
* {
  margin: 0;
  padding: 0;
}

body
{
  line-height: 150%;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.0rem;
}



a:link {
  color: $colorLink;
}

a:visited {
  color: $colorLinkVisited;
}

a:hover {
  color: $colorLinkHover;
}

h1 {
  font-Size: 1.2rem;
  font-weight: bold;
}

h2 {
  font-Size: 1.1rem;
  font-weight: bold;
}

h3 {
  font-Size: 1.0rem;
  font-weight: bold;
}

// Icon definitions
.icon {
  display: inline-block;
  font-family: icons;
  font-size: 1.6rem;
  color: $colorLink;
  cursor: pointer;

  &:hover {
    background: $colorContentBoxHeaderBackgroundHover;
    background: rgba(0, 0, 0, 0.1);
    @include border-radius(0.2rem);
  }

  a:link {
    color: $colorLink;
  }

  a:visited {
    color: $colorLink;
  }

  a:hover {
    color: $colorLinkHover;
    background: $colorContentBoxHeaderBackgroundHover;
    background: rgba(0, 0, 0, 0.1);
    @include border-radius(0.2rem);
  }

  .icon-small {
    font-size: 1.0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}


.icon-arrow-up-a:before {content: "\f10c"; }
.icon-arrow-down-a:before {content: "\f103"; }
.icon-arrow-left-c:before { content: "\f108"; }
.icon-chatboxes:before { content: "\f11c"; }
.icon-chevron-up:before { content: "\f126"; }
.icon-gear-b:before { content: "\f13e"; }
.icon-information-circled:before { content: "\f149"; }
.icon-trash:before { content: "\f252";}
.icon-add-user:before { content: "\f211";}
.icon-edit:before { content: "\f2bf";}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.voteUp {
  color: $colorVoteUp;
}

.voteDown {
  color: $colorVoteDown;
}

.disabled {
  color: $colorDisabled;
}

.error {
  color: $colorError;
}

.table {
  width: 100%;
  thead {
    border-bottom: 1px solid black;
    text-align: left;
    th {
      padding-left: 0.5rem;
    }
  }
  tbody {
    tr:last-child{
      border-bottom: 1px solid $colorLinkItemBorder;
    }

    tr:nth-child(odd) {
      background-color: $colorLinkItemBackgroundOdd;
    }

    tr:nth-child(even) {
      background-color: $colorLinkItemBackgroundEven;
    }

    td {
      padding-left: 0.5rem;
    }

    td.centered {
      text-align: center;
    }
  }
}

.box {
  @include resetBlock;
  width: 100%;
  margin-top: 1.0rem;
  float: left;
}

.boxTitle {
  background-color: $colorContentBoxHeaderBackground;
  padding-left: 1rem;
}

.boxHeader {
  margin-top: 1em;
  padding-left: 1em;
  background-color: $colorContentBoxHeaderBackground;
  font-weight: bold;
}

.boxContent {
  background-color: $colorContentBoxBackground;
  border: 1px solid $colorContentBoxBorder;
  padding: 1rem;
}


// Scale image with aspect ratio
.imageScaleH {
  height: 100%;
  width: auto;
}
.imageScaleV {
  height: auto;
  width: 100%;
}

form div {
  padding-bottom: 1rem;
}

form label {
  display: inline-block;
  width: 10rem;
  padding-right: 1rem;
  text-align: right;
  height : 2rem;
}

.formButton {
  margin-left: 11rem;
}

input,
select
{
  font-size: 1rem;
  display: inline-block;
  width: 33%;
  height: 2rem;
  background: white;
}

.linkEdit {
  width: 66%;
}

// Buttons
button {
  display: inline-block;
  height: 2.5em;
  color: $colorButtonColorDisabled;
  background-color: $colorButtonBackgroundDisabled;
  border: 1px solid $colorButtonBorder;
  @include border-radius(5px);
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  &:enabled {
    color: $colorButtonColor;
    background-color :$colorButtonBackground;
    @include box-shadow($colorButtonShadow);
  }
  &:hover:enabled {
    background-color: $colorButtonHover;
  }
}

.active-button {
  &:enabled {
    color: $colorButtonColor;
    background-color: $colorButtonBackgroundHighlight;
    border: 1px solid $colorButtonBorderHighlight;
    @include box-shadow($colorButtonShadowHighlight);
  }
  &:hover:enabled {
    background-color: $colorButtonHoverHighlight;
  }
}

.newLinks {
  display: inline;
  background-color: $colorVoteDown;
  color: #ffffff;
  padding-top: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border: 1px solid white;
  cursor: pointer;
  @include border-radius(0.8rem);
  font-size: 0.8rem;
  font-weight: bold;
}


#doSearch {
  height: 19px;
  @include border-radius(0);
}

#searchText {
  height: 13px;
}

/**********************************************************
 * Components
 **********************************************************/

/* Header Menu */
.headerMenu {
  overflow:hidden;
  position: relative;
  line-height: 1em;
  background-color: transparent;
  float: right;
  margin-top: 53px;
  padding: 1px 10px 1px 10px;
  height: 19px;


  ul {
    display: inline;
    float: left;

    li {
      display: inline;
      float: left;
      font-size: 1rem;
      font-weight: normal;
      list-style: none;
      margin-right: 0.25rem;
      padding: 0 0.25rem;
      cursor: pointer;

      a {
        display: block;
        font-size: 1rem;
        line-height: 0.8rem;
        font-weight: normal;
        text-decoration: none;
        color: $colorHeaderLineText;
        background: transparent;
        padding: 0.2rem 0.25rem 0.3rem 0.25rem;
        width: auto;
        &:focus,
        &:hover,
        &:active{
          color: $colorHeaderLineTextHover;
          background: rgba(255, 255, 255, 0.5);

        }
      }
    }
  }
}



/* Box Menü */
.boxContentMenu {
  overflow:hidden;
  position: relative;
  line-height: 1em;
  background-color: $colorContentBoxHeaderBackground;
  padding-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  ul {
    display: inline;
    float: left;
    margin-right:1rem;

    li {
      display: inline;
      float: left;
      font-size: 0.8rem;
      font-weight: normal;
      line-height: 1.5rem;
      list-style: none;
      margin-right: 0.25rem;
      padding: 0 0.25rem;
      cursor: pointer;
      color: $colorContentBoxHeaderText;

      a {
        display: block;
        font-size: 0.8rem;
        line-height: 1.5rem;
        font-weight: normal;
        text-decoration: none;
        color: $colorContentBoxHeaderText;
        background: transparent;
        width: auto;
        &:focus,
        &:hover,
        &:active{
          color: $colorContentBoxHeaderTextHover;
          background: $colorContentBoxHeaderBackgroundHover;
          background: rgba(0, 0, 0, 0.1);
        }
      }

      &.active {
        background-color: $colorContentBoxHeaderActive;
        color: $colorContentBoxHeaderTextActive;
        @include border-radius(0.2rem);
        a,
        a:focus,
        a:hover,
        a:active {
          background: transparent;
          color: $colorContentBoxHeaderTextActive;
          text-decoration: none;
        }
      }
    }
  }
}

/* Link-Entry Menü */
.linkEntryMenu {
  overflow:hidden;
  position: relative;
  line-height: 1em;
  background-color: transparent;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  ul {
    display: inline;
    float: left;

    li {
      display: inline;
      float: left;
      font-size: 1rem;
      font-weight: normal;
      list-style: none;
      margin-right: 0.25rem;
      padding: 0 0.25rem;
      cursor: pointer;
      color: $colorLink;

      a {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: normal;
        text-decoration: none;
        color: $colorLink;
        background: transparent;
        width: auto;
        &:focus,
        &:hover,
        &:active{
          color: $colorLinkHover;
          background: $colorContentBoxHeaderBackgroundHover;
          background: rgba(0, 0, 0, 0.1);
          @include border-radius(0.2rem);

        }
      }
    }
  }
}




/**********************************************************
 * Layout
 **********************************************************/

// Main Layout: Header
#header {
  @extend %mainLayout;
  display: block;
  background: url("../images/ForgeddIt-Logo-bg.png") repeat-x;

  #logo {
    float: left;
    height: 74px;
    width: 304px;
    background-image: url("../images/ForgeddIt-Logo.png");
  }
}
// Main Layout Navigation
#navigation {
  @extend %mainLayout;
  display: block;
  background-color: $colorContentBoxHeaderBackground;
  margin-top: 1em;
}

// Main Layout Content
#content {
  @extend %mainLayout;
  height: 1%;
  display: block;
}

// Main Layout Footer
#footer {
  @extend %mainLayout;
}



.linkItem {
  border-top: 1px solid $colorLinkItemBorder;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  list-style: none;

  .rate {
    float: left;
    text-align: center;
    width: 4rem;
  }

  .thumb {
    float: left;
    overflow: hidden;
    width: 4.5em;
    height: 4.5em;
    align-content: center;
  }

  .info {
    margin-top: 0.25rem;
    font-size: 0.8rem;
  }

  &:after {
    @include resetBlock;
  }

}

.comments {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-left: 4rem;
  margin-right: 4rem;

  .commentItem {
    clear: both;
    border-top: 1px solid $colorLinkItemBorder;
  }

  .commentMeta {
    font-size: 0.7rem;
    float: left;
    width: 7rem;
  }

  .commentUser {
    font-weight: bold;
  }

  .commentText {
    float: left;
  }

  .addComment {
    .commentUser {
      padding-top: 0.2rem;
    }
    .newComment {
      margin-top:0.3rem;
      font-size: 0.8rem;
      width: 66%;
      height: 3rem;
    }
    .sendComment {
      display:block;
      float:right;
      margin-top: 0.3rem;
    }
  }
}


ul#linkList {

  clear: left;

  width: 100%;

  .linkItem:last-child{
    border-bottom: 1px solid $colorLinkItemBorder;
  }

  .linkItem:nth-child(odd) {
    background-color: $colorLinkItemBackgroundOdd;
  }

  .linkItem:nth-child(even) {
    background-color: $colorLinkItemBackgroundEven;
  }
}

/**********************************************************
 * Responsive design
 **********************************************************/
@media (max-width: 1024px)

{

#header {

    #logo {
      float: none;
    }

    #search {
      float: right;
      width: auto;
      margin-top: 0.5em;
      background-color: white;
    }

    .headerMenu {
      float: left;
      width: 100%;
      margin: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: $colorHeaderLineBackGround;
    }
  }

  form {
    label {
      width: 5rem;
    }
  }

  .formButton {
    margin-left: 6rem;
    width: 100%;
  }

  .linkEdit {
    width: 50%;
  }


}

/* Smartphones (portrait) ----------- */
@media (max-width: 320px), (max-device-width: 320px)
{

  body
  {
//    font-size: 1.5rem;
  }


  #header {
    height: 37px;
    background-color: $colorHeaderLineBackGround;

    #logo {
      height: 37px;
      width: 152px;
      background-size: 100%;
      float: none;
    }

    .headerMenu {
      float: left;
      width: 100%;
      margin: 0;
      padding-top: 0.5rem;
      background-color: $colorHeaderLineBackGround;
    }
  }

  form {
    label {
      width: 5rem;
    }
  }

  .formButton {
    margin-left: 6rem;
    width: 20rem;
  }

  #content {
    #linkBox,
    #addEntry{
      margin-top: 1em;
      float: none;
      width: 100%;
    }
  }
}



