@charset "UTF-8";
/********************************************************** Variable Definitions *********************************************************/
/********************************************************** Mixin definitions *********************************************************/
/********************************************************** Placeholder definitions *********************************************************/
#header, #navigation, #content, #footer { max-width: 75em; margin: auto; }
#header:after, #navigation:after, #content:after, #footer:after { clear: left; content: ""; display: block; }

/********************************************************** Icon font *********************************************************/
@font-face { font-family: "icons"; src: url("../fonts/ionicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ionicons.woff") format("woff"), url("../fonts/ionicons.ttf") format("truetype"), url("../fonts/ionicons.svg#svgFontName") format("svg"); }
/********************************************************** General settings *********************************************************/
* { margin: 0; padding: 0; }

body { line-height: 150%; font-family: Helvetica, Verdana, sans-serif; font-size: 1.0rem; }

a:link { color: #528fcc; }

a:visited { color: #38597a; }

a:hover { color: #80b5ea; }

h1 { font-Size: 1.2rem; font-weight: bold; }

h2 { font-Size: 1.1rem; font-weight: bold; }

h3 { font-Size: 1.0rem; font-weight: bold; }

.icon { display: inline-block; font-family: icons; font-size: 1.6rem; color: #528fcc; cursor: pointer; }
.icon a:link { color: #528fcc; }
.icon a:visited { color: #528fcc; }
.icon a:hover { color: #80b5ea; }

.icon-small { font-size: 1.0rem; padding-left: 0.5rem; padding-right: 0.5rem; }

.icon-arrow-up-a:before { content: "\f10c"; }

.icon-arrow-down-a:before { content: "\f103"; }

.icon-arrow-left-c:before { content: "\f108"; }

.icon-chatboxes:before { content: "\f11c"; }

.icon-information-circled:before { content: "\f149"; }

.icon-trash:before { content: "\f252"; }

.icon-add-user:before { content: "\f211"; }

.icon-edit:before { content: "\f2bf"; }

.screen-reader-text { /* Reusable, toolbox kind of class */ position: absolute; top: -9999px; left: -9999px; }

.voteUp { color: #5eaa60; }

.voteDown { color: #c93034; }

.disabled { color: #c8c8c8; }

.error { color: #d0021b; }

.table { width: 100%; }
.table thead { border-bottom: 1px solid black; text-align: left; }
.table thead th { padding-left: 0.5rem; }
.table tbody tr:last-child { border-bottom: 1px solid #e1e1e1; }
.table tbody tr:nth-child(odd) { background-color: #ededed; }
.table tbody tr:nth-child(even) { background-color: #fafafa; }
.table tbody td { padding-left: 0.5rem; }
.table tbody td.centered { text-align: center; }

.box { clear: left; content: ""; display: block; width: 100%; margin-top: 1.5rem; float: left; }

.boxTitle { background-color: #c8c8c8; padding-left: 1rem; }

.boxHeader { margin-top: 1em; padding-left: 1em; background-color: #c8c8c8; font-weight: bold; }

.boxContent { background-color: whitesmoke; border: 1px solid #e1e1e1; padding: 1rem; }

.imageScaleH { height: 100%; width: auto; }

.imageScaleV { height: auto; width: 100%; }

form div { padding-bottom: 1rem; }

form label { display: inline-block; width: 10rem; padding-right: 1rem; text-align: right; height: 2rem; }

.formButton { margin-left: 11rem; }

input, select { font-size: 1rem; display: inline-block; width: 33%; height: 2rem; background: white; }

.linkEdit { width: 66%; }

button { display: inline-block; height: 2.5em; color: #b0b0b0; background-color: #ededed; border: 1px solid gainsboro; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; font-size: 1rem; font-style: normal; text-align: center; cursor: pointer; padding-left: 1em; padding-right: 1em; }
button:enabled { color: #777777; background-color: #ededed; -moz-box-shadow: inset 0 1px 0 0 white; -webkit-box-shadow: inset 0 1px 0 0 white; -ms-box-shadow: inset 0 1px 0 0 white; box-shadow: inset 0 1 0 0 white; }
button:hover:enabled { background-color: #dfdfdf; }

.active-button:enabled { color: #777777; background-color: #78ff9c; border: 1px solid #51ed7a; -moz-box-shadow: inset 0 1px 0 0 #c0fad1; -webkit-box-shadow: inset 0 1px 0 0 #c0fad1; -ms-box-shadow: inset 0 1px 0 0 #c0fad1; box-shadow: inset 0 1 0 0 #c0fad1; }
.active-button:hover:enabled { background-color: #25fa5e; }

#doSearch { height: 19px; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }

#searchText { height: 13px; }

/********************************************************** Layout *********************************************************/
#header { display: block; background: url("../images/ForgeddIt-Logo-bg.png") repeat-x; }
#header #logo { float: left; height: 74px; width: 304px; background-image: url("../images/ForgeddIt-Logo.png"); }
#header #search, #header #signIn, #header #signOut { float: right; margin-top: 54px; padding: 0 10px; height: 19px; background-color: #151515; }
#header #search a:link, #header #search a:hover, #header #search a:visited, #header #signIn a:link, #header #signIn a:hover, #header #signIn a:visited, #header #signOut a:link, #header #signOut a:hover, #header #signOut a:visited { color: #80b5ea; }

#navigation { display: block; background-color: #c8c8c8; margin-top: 1em; }

#content { height: 1%; display: block; }

/* Menü */
ul.menu li { display: inline; list-style: none; margin-right: 1em; font-weight: bold; cursor: pointer; color: #528fcc; }
ul.menu li:hover { color: #80b5ea; }

#signIn li, #signOut li { display: inline; list-style: none; margin-right: 1em; }

.linkItem { border-top: 1px solid #e1e1e1; padding-top: 0.6em; padding-bottom: 0.6em; list-style: none; }
.linkItem .rate { float: left; text-align: center; width: 4rem; }
.linkItem .thumb { float: left; overflow: hidden; width: 4.5em; height: 4.5em; align-content: center; }
.linkItem .info { margin-top: 0.25rem; font-size: 0.8rem; }
.linkItem:after { clear: left; content: ""; display: block; }

.comments { font-size: 0.8rem; line-height: 1.2rem; margin-left: 4rem; margin-right: 4rem; }
.comments .commentItem { clear: both; border-top: 1px solid #e1e1e1; }
.comments .commentMeta { font-size: 0.7rem; float: left; width: 7rem; }
.comments .commentUser { font-weight: bold; }
.comments .commentText { float: left; }
.comments .addComment .commentUser { padding-top: 0.2rem; }
.comments .addComment .newComment { margin-top: 0.3rem; font-size: 0.8rem; width: 66%; height: 3rem; }
.comments .addComment .sendComment { display: block; float: right; margin-top: 0.3rem; }

ul#linkList { clear: left; width: 100%; }
ul#linkList .linkItem:last-child { border-bottom: 1px solid #e1e1e1; }
ul#linkList .linkItem:nth-child(odd) { background-color: #ededed; }
ul#linkList .linkItem:nth-child(even) { background-color: #fafafa; }

/********************************************************** Responsive design *********************************************************/
@media (max-width: 48em) { #header #logo { float: none; }
  #header #search { float: right; width: auto; margin-top: 0.5em; background-color: white; }
  #header #signIn { float: left; width: auto; margin-top: 0.5em; background-color: white; }
  #header #signIn a:link, #header #signIn a:hover, #header #signIn a:visited { color: #528fcc; } }
@media (max-width: 30em) { #header #logo { float: none; }
  #header #signIn, #header #search { float: none; width: auto; margin-top: 0.5em; background-color: white; }
  #header #signIn a:link, #header #signIn a:hover, #header #signIn a:visited, #header #search a:link, #header #search a:hover, #header #search a:visited { color: #528fcc; }
  #content #linkBox, #content #addEntry { margin-top: 1em; float: none; width: 100%; } }

/*# sourceMappingURL=main.css.map */
