<div ng-controller="linkController">
    <div class="boxHeader">
        <ul class="actionList">
            <li><a ng-click="sort('time', true)" href="">Newest (live)</a></li>
            <li><a ng-click="sort('rate', true)" href="">Most forgeddable</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
    <div class="boxContent">
        <ul id="linkList">
            <li class="linkItem" ng-repeat="link in links | orderBy:predicate:reverse" id="{{link.id}}">
                <link-vote-view></link-vote-view>
                <link-thumb-view></link-thumb-view>
                <link-content-view></link-content-view>
            </li>
        </ul>
    </div>
</div>