<div class="boxHeader">Send a forgeddable link!</div>
<div id="addLink" class="boxContent" ng-controller="addLinkController">
    <form name="form" class="css-form">
        <label for="link">Link:</label>
        <input ng-model= "url" type="url" id="link" placeholder="Enter link" required >
        <label for="linkTitle">Title:</label>
        <input ng-model="title" type="text" id="linkTitle" placeholder="Enter title" required>
        <input ng-click="sendLink()" ng-disabled="form.$invalid" type="button" id="sendLink" value="Send Link">
    </form>
</div>
