<div ng-hide="isEditMode" class="boxHeader">New User</div>
<div ng-show="isEditMode" class="boxHeader">Edit User</div>
<div class="boxContent">
    <form name="userForm" class="css-form" novalidate>

        <!-- User name: only editable when creating a new user -->
        <div ng-show="isEditMode">
            <label for="usernameReadOnly">Username</label>
            <input type="text" class="form-control" id="usernameReadOnly" placeholder="Enter Username" ng-model="user.name" readonly>
        </div>
        <div ng-show="!isEditMode">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username" ng-model="user.name" required focus="true">
            <div class="error icon icon-information-circled" ng-show="userNameError"></div>
        </div>

        <!-- Password field user: required, admin:not required -->
        <div ng-if="!hasAdminRights">
            <label for="inputPasswordUser">Password</label>
            <input type="password" class="form-control" id="inputPasswordUser" placeholder="Enter Password" ng-model="user.password" required>
        </div>
        <div ng-if="hasAdminRights">
            <label for="inputPasswordAdmin">Password</label>
            <input type="password" class="form-control" id="inputPasswordAdmin" placeholder="Enter Password" ng-model="user.password">
        </div>

        <!-- User role (admin only) -->
        <div ng-if="hasAdminRights">
            <label for="inputUserRole">Role</label>
            <select id="inputUserRole" ng-model="user.role">
                <option>Administrator</option>
                <option>User</option>
            </select>
        </div>

        <!-- block (admin only) -->
        <div ng-if="hasAdminRights">
            <label for="inputUserBlocked">Blocked</label>
            <input type="checkbox" id="inputUserBlocked" ng-model="user.blocked">
        </div>

        <div ng-show="message!==''">
            <label class="error">Error:</label>
            <span class="error" ng-bind="message"></span>
        </div>


        <button id="confirmAddUser" class="formButton active-button"
                ng-click="submitAction()"
                ng-disabled="userForm.$invalid">{{submitBtnLabel}}</button>
        <button id="cancelAddUser" class="formButton cancel-button"
                ng-click="cancelAction()">Abbrechen</button>

    </form>
</div>
