<div class="box">
    <div class="boxHeader">User Administration</div>
    <div class="boxContent">
        <table class="user-list">
            <tbody>
            <tr ng-repeat="user in users | orderBy:user.name">
                <td>
                    <a ng-href="#/admin/users/{{user.name}}"
                       ng-bind="user.name"></a>
                </td>
                <td ng-bind="user.role"></td>
                <td>
                    <a ng-href="#/admin/users/{{user.name}}/delete">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a ng-href="#/admin/users/new">Add a new user</a>
    </div>
</div>
