<div id="footer">
    <div id="modal1" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Architektur</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 1<p>
        </modal-dialog>
    </div>
    <div id="modal2" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Modules</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 2<p>
        </modal-dialog>
    </div>

    <div id="modal3" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Build</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 3<p>
        </modal-dialog>
    </div>
    <div id="modal4" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Database</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 4<p>
        </modal-dialog>
    </div>
    <div id="modal5" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Webserver/Express</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 5<p>
        </modal-dialog>
    </div>
    <div id="modal6" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Angular</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 6<p>
        </modal-dialog>
    </div>
    <div id="modal7" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Linkliste</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 7<p>
        </modal-dialog>
    </div>
    <div id="modal8" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Login/Logout</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 8<p>
        </modal-dialog>
    </div>
    <div id="modal9" ng-controller='MyCtrl' style="float:left;padding:10px;">
        <a href="" ng-click="toggleModal()">Votes</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 9<p>
        </modal-dialog>
    </div>
    <div id="modal10" ng-controller='MyCtrl' style="padding:10px;">
        <a href="" ng-click="toggleModal()">Comments</a>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <p>Modal Content Goes here 10<p>
        </modal-dialog>
    </div>
</div>
