<div id="header">
    <div id="logo"></div>
    <div class="headerMenu" ng-if="!isLogged" id="signIn">
        <ul>
            <li><a class="signIn" ng-href="#/login">Sign in Friend</a></li>
            <li><a class="createAccount" ng-href="#/user/create">Create free account</a></li>
        </ul>
    </div>
    <div class="headerMenu" ng-if="isLogged" id="signOut">
        <ul>
            <li><a class="userName" ng-href="#/user/{{username}}">{{username}}</a></li>
            <li><a class="signOut" ng-click="logout()" ng-href="#/logout">Sign out</a></li>
            <li ng-if="hasAdminRights"><a class="adminSettings" ng-href="#/admin/users">Settings</a></li>
        </ul>
    </div>
</div>
