<div id="header">
    <div id="logo"></div>
    <div ng-if="!isLogged" id="signIn">
        <ul>
            <li><a ng-href="#/login">Sign in Friend</a></li>
            <li><a ng-href="#/user/create">Create free account</a></li>
        </ul>
    </div>
    <div class="headerMenu" ng-if="isLogged" id="signOut">
        <ul>
            <li><a ng-href="#/user/{{username}}">{{username}}</a></li>
            <li><a ng-click="logout()" ng-href="#/logout">Sign out</a></li>
            <li ng-if="hasAdminRights"><a ng-href="#/admin/users">Settings</a></li>
        </ul>
    </div>
</div>
