<div class="box">
    <h1 class="boxTitle">Send a forgeddable link</h1>
    <div id="addLink" class="boxContent">
        <form name="form" class="css-form" novalidate>

            <div>
                <label for="link">Link:</label>
                <input class="linkEdit" ng-model= "url" type="url" id="link" placeholder="Enter link" required focus="true">
            </div>

            <div>
                <label for="linkTitle">Title:</label>
                <input class="linkEdit" ng-model="title" type="text" id="linkTitle" placeholder="Enter title" required>
            </div>

            <div class="formButton">
                <button class="active-button" ng-click="sendLink()" ng-disabled="form.$invalid">Send Link</button>
            </div>

        </form>
    </div>
</div>
