<div class="entry">
    <div class="link">
        <form ng-show="isEdit" name="linkEditForm" ng-submit="isEdit=false" novalidate>
            <div>
                <input class="linkEdit" ng-model="newTitle" type="text" id="linkTitle" placeholder="Enter title" required>
                <button class="active-button"
                        ng-click="doUpdateLink()"
                        ng-disabled="linkEditForm.$invalid">Speichern</button>
                <button class="cancel-button"
                        ng-click="isEdit=false">Abbrechen</button>
            </div>
            <div>{{link.url}}</div>
        </form>

        <a ng-hide="isEdit" href="{{link.url}}">{{link.title}}</a>
        <a ng-show="canEdit && !isEdit" ng-click="doEditStart()" class="icon">
            <span aria-hidden="true" title="Edit link" class="icon-small icon-edit"></span>
            <span class="screen-reader-text">Edit link: {{link.title}}</span>
        </a>
    </div>
    <div class="info">Submitted {{getTimeAgo(link.time)}} ago from <a href="#">{{link.user}}</a> to <a href="#">{{link.group}}</a></div>
    <div class="actionList">
        <ul class="menu">
            <li class="menuItem">
                <a  ng-click="toggleComments(link)" class="icon">
                    <span aria-hidden="true" title="Show comments" class="icon-small icon-chatboxes"> {{link.comments.length}}</span>
                    <span class="screen-reader-text">Show {{link.comments.length}} comments for link: {{link.title}}</span>
                </a>
            </li>
            <li class="menuItem"  ng-show="canDelete">
                <a  ng-click="" class="icon">
                    <span aria-hidden="true" title="Delete link" class="icon-small icon-trash"></span>
                    <span class="screen-reader-text">Delete link: {{link.title}}</span>
                </a>
            </li>
        </ul>
    </div>
    <link-comment-view></link-comment-view>
</div>
