<div class="comments" ng-show="showComments" class="commentList">
    <div class="commentItem" ng-repeat="comment in comments">
        <div class="commentMeta">
            <p class="commentUser">{{comment.user}}</p>
            <p class="commentTime">{{getTimeAgo(link.comments[$index].time)}}</p>
        </div>
        <p class="commentText">{{comment.text}}</p>
    </div>
    <div ng-show="showAddComment" ng-if="isLogged" class="addComment">
        <form class="addComment commentItem" name="addComment" novalidate>
            <div class="commentMeta">
                <p class="commentUser">{{currentUserName}}</p>
            </div>
            <textArea class="newComment" ng-model="newComment" id="comment" placeholder="Enter a new Comment" required focus="true"></textArea>
            <button class="sendComment active-button" ng-click="sendComment(newComment)" ng-disabled="addComment.$invalid">Send Comment</button>
        </form>
    </div>
</div>
