
<div class="box">
    <h1 class="boxTitle">Forgeddable Links</h1>
    <div class="boxTitle">
        <ul class="menuSelection">
            <li ng-show="newLinks.length" class="newLinks">{{newLinks.length}}</li>
            <li><a ng-click="sort('time', true)" href="">Newest</a></li>
            <li><a ng-click="sort('rate', true)" href="">Most forgeddable</a></li>
            <li ng-show="isLogged" ><a ng-click="filter('') " href="">All</a></li>
            <li ng-show="isLogged" ><a ng-click="filter('user')" href="">My forgeddables</a></li>
            <li ng-show="isLogged" ><a ng-click="filter('commented')" href="">Commented forgedadables</a></li>
            <li ng-show="isLogged" ><a ng-click="filter('voted')" href="">Voted forgeddables</a></li>
        </ul>
    </div>
    <div class="boxContent">
        <ul id="linkList" class="linkList">
            <li class="linkItem" ng-repeat="link in links | filter:filterExpression | orderBy:searchPredicate:reverse" id="{{link.id}}">
                <link-vote-view></link-vote-view>
                <!-- Here comes the preview image    <link-thumb-view></link-thumb-view> -->
                <link-content-view></link-content-view>
            </li>
        </ul>
    </div>
</div>